<mat-toolbar color="primary" class="mat-elevation-z8" *ngIf="auth.authorized['admin'] || auth.authorized['driver']">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon style="transform: scale(1.333333333333333);">polymer</mat-icon>
  </button>
  <span>ChargingStations</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="!auth.authorized['admin'] && !auth.authorized['driver']">
    <button mat-button routerLink="/login">Log in</button>
    <button mat-raised-button color="warn" routerLink="/register">Register</button>
  </ng-container>
  <ng-container *ngIf="auth.authorized['admin'] || auth.authorized['driver']">
    <a mat-mini-fab color="accent">{{ auth.user?.initials }}</a>
    <button [matMenuTriggerFor]="options" mat-button>Hello, {{ auth.user?.firstName + ' ' + auth.user?.lastName }}! <i class="fa fa-chevron-down"></i></button>
    <mat-menu #options="matMenu">
      <button mat-menu-item (click)="signOut()">Log out</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item *ngIf="auth.authorized['admin']">
        <button mat-menu-item><mat-icon color="primary">dashboard</mat-icon>Dashboard</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['admin']">
        <button mat-menu-item routerLink="/users"><mat-icon color="primary">how_to_reg</mat-icon>Users</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['admin']">
        <button mat-menu-item routerLink="/chargers"><mat-icon color="primary">battery_charging_full</mat-icon>Chargers</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['admin']">
        <button mat-menu-item routerLink="/vehicles"><mat-icon color="primary">directions_car</mat-icon>Vehicles</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['admin']">
        <button mat-menu-item routerLink="/unconfirmed-users"><mat-icon color="primary">perm_identity</mat-icon>Unconfirmed users</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['driver']">
        <button mat-menu-item routerLink="/vehicles"><mat-icon color="primary">battery_alert</mat-icon>Reserve charger</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['driver']">
        <button mat-menu-item routerLink="/user-vehicles"><mat-icon color="primary">directions_car</mat-icon>My vehicles</button>
      </mat-list-item>
      <mat-list-item *ngIf="auth.authorized['driver']">
        <button mat-menu-item routerLink="/charging-history"><mat-icon color="primary">history</mat-icon>Charging history</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="drawer-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>