<!-- ======= Vehicles Section ======= -->
<section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h2>Vehicles</h2>
                <p>List of Vehicles</p>
            </div>
            <div class="col-lg-6">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                    <button type="button" class="btn btn-primary input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-1">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-5 float-right">
              <button type="button" class="btn btn-danger" (click)="openVehicleDialog(undefined, viewState.Create)"><i class="fa fa-plus"></i> New vehicle</button>
            </div>
        </div>
      </header>

      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" *ngFor="let vehicle of vehicles">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/vehicles/vehicle.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>{{ vehicle.vehicleModel }} ({{vehicle.manufacturer}})</h4>
              <span>{{ vehicle.chargingProtocol }} ({{vehicle.batteryCapacity}} kWh)</span>
              <p></p>
              <button mat-raised-button (click)="openVehicleDialog(vehicle.id, viewState.Details)">Details</button>
              <button mat-raised-button (click)="openVehicleDialog(vehicle.id, viewState.Edit)" color="primary">Edit</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- End Vehicles Section -->