<div class="google-map-container">
    <div style="width: 100%; height: 100%"></div>
    <div class="google-map-actions">
        <div class="google-map-action" *ngIf="invalidDestinations.length > 0 || invalidOrigins.length > 0 || invalidDirections.length > 0">
            <div class="af-dropdown-menu">
                <button class="a-btn a-btn-orange af-dropdown-menu-toggle"><i class="fas fa-exclamation-triangle"></i></button>
                <div class="af-dropdown-menu-box google-map-invalid-objects">
                    <div style="padding: 5px;" *ngIf="invalidDestinations.length > 0">
                        <div>
                            <span>The following destination addresses could not be found:</span>
                        </div>
                        <div>
                            <ul>
                                <li *ngFor="let item of invalidDestinations">{{ item }}</li>
                            </ul>
                        </div>
                    </div>
                    <div style="padding: 5px;" *ngIf="invalidOrigins.length > 0">
                        <div>
                            <span>The following origin addresses could not be found:</span>
                        </div>
                        <div>
                            <ul>
                                <li *ngFor="let item of invalidOrigins">{{ item }}</li>
                            </ul>
                        </div>
                    </div>
                    <div style="padding: 5px;" *ngIf="invalidDirections.length > 0">
                        <div>
                            <span>The following directions could not be found:</span>
                        </div>
                        <div>
                            <ul>
                                <li *ngFor="let item of invalidDirections">{{ item }}</li>
                            </ul>
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
    </div>
</div>