.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-dialog-title h1 {
  line-height: 1;
}

.mat-dialog-button-right-alignment {
    float: right;
    margin-right: 15px;
}

.scroll-hidden {
    overflow: hidden !important;
}

.title-alignment {
    margin-left: 25px;
}