<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a class="navbar-brand px-2 text-yellow" href="#">Charging Station</a>
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-warning" routerLink="/register">Register</button>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<!-- <footer class="text-center text-white fixed-bottom" style="background-color: #BDBDBD">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: #3b5998;" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: #55acee;" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: #dd4b39;" href="#!" role="button">
         <i class="fab fa-google"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background: linear-gradient(60deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: #0082ca;" href="#!" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: #333333;" href="#!" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright
  </div>
</footer> -->