<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h2>Users</h2>
                <p>List of Users</p>
            </div>
            <div class="col-lg-6">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                    <button type="button" class="btn btn-primary input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
        </div>
      </header>

      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" *ngFor="let user of users">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/headshot-{{user.gender}}.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>{{ user.firstName }} {{ user.lastName }}</h4>
              <span>{{ user.username }}</span>
              <p>{{ user.biography }}</p>
              <!-- <button class="btn btn-danger col-lg-4">Block</button> -->
              <!-- <button class="btn btn-primary col-lg-4">Confirm</button> -->
              <!-- <button class="btn btn-primary col-lg-4">Details</button> -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" click="entityDetails(user.id)">Details</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- End Team Section -->

<!-- <ng-component > -->
  <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <user [state]="entityState" [id]="entityId" (onEntityAction)="entityActionCallback()"></user>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
      </div>
    </div>
  </div>
<!-- </ng-component> -->