<div class="container">
    <div class="register-block text-center">
        <h1>Register</h1>
        <h6>Please fill in the following details to create an account.</h6>
        <div class="input-icon">
            <input type="text" placeholder="First Name" id="firstName" />
            <i class="fa fa-pen"></i>
        </div>
        <div class="input-icon">
            <input type="text" placeholder="Last Name" id="lastName" />
            <i class="fa fa-pen"></i>
        </div>
        <div class="input-icon">
            <input type="date" placeholder="Date of Birth" id="dateOfBirth" />
            <i class="fa fa-calendar"></i>
        </div>
        <div class="input-icon">
            <input type="text" placeholder="Username" id="username" />
            <i class="fa fa-user"></i>
        </div>
        <div class="input-icon">
            <input type="email" placeholder="Email Address" id="emailAddress" />
            <i class="fa fa-envelope"></i>
        </div>
        <div class="input-icon">
            <input type="password" placeholder="Password" id="password" />
            <i class="fa fa-lock"></i>
        </div>
        <div class="input-icon">
            <select id="role">
                <option value="driver">Driver</option>
            </select>
            <i class="fa fa-users"></i>
        </div>
        <p>Already have an account? <a class="a-link" routerLink="/login">Login here</a></p>
        <button>Register</button>
    </div>
</div>
