<div style="text-align: end;">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<div class="title-alignment">
    <h1 *ngIf="state == viewState.Create">Create charger</h1>
    <h1 *ngIf="state == viewState.Edit">Update charger</h1>
    <ng-container *ngIf="errorMessages != undefined">
        <ng-container *ngFor="let error of errorMessages">
            <p style="color: red;">{{ error }}</p>
        </ng-container>
    </ng-container>
</div>
<form [formGroup]="form!" *ngIf="form">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="location">
                <mat-error *ngIf="form.get('location')?.errors?.['required']">Location is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charging power</mat-label>
                <input matInput type="number" formControlName="chargingPower">
                <mat-error *ngIf="form.get('chargingPower')?.errors?.['required']">Charging power is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charging protocol</mat-label>
                <input matInput formControlName="chargingProtocol">
                <mat-error *ngIf="form.get('chargingProtocol')?.errors?.['required']">Charging protocol is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price per KWH</mat-label>
                <input matInput type="number" formControlName="pricePerKwh">
                <mat-error *ngIf="form.get('pricePerKwh')?.errors?.['required']">Price per kWh is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Payment method</mat-label>
                <input matInput formControlName="paymentMethod">
                <mat-error *ngIf="form.get('paymentMethod')?.errors?.['required']">Payment method is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" *ngIf="!entityId" (click)="save()">Save</button>
        <button mat-raised-button color="primary" type="submit" *ngIf="entityId" (click)="save()">Update</button>
    </div>
</form>