<div class="login-container">
    <div class="login-content">
        <div class="welcome-title">
            <h1><mat-icon style="transform: scale(1.333333333333333); padding-top: 3px; padding-right:28px;">battery_charging_full</mat-icon>ChargingStations</h1>
            <!-- <h6>electric vehicle heaven</h6> -->
            <span>Welcome! Please login to your account</span>
        </div>
        <form [formGroup]="form!" *ngIf="form" class="scroll-hidden">
            <div mat-dialog-content>
                <mat-form-field appearance="outline">
                    <mat-label>Username / Email</mat-label>
                    <input matInput formControlName="usernameOrEmail">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <div style="margin-bottom: 20px;">
                    <a routerLink="/register">You don't have an account?</a>
                </div>
            </div>
            <div mat-dialog-action>
                <button class="login-button" mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div>
<div class="image-container mat-elevation-z24">
    <img src="../../../assets/img/login-image.png" alt="Your Image" width="1400" height="2234">
</div>