<div class="container">
    <div class="login-block text-center">
        <h1>Login</h1>
        <h6>Welcome! Please login to your account.</h6>
        <div class="input-icon">
            <input type="text" placeholder="Username / Email Address" id="username"/>
            <i class="fa fa-user"></i>
        </div>
        <div class="input-icon">
            <input type="password" placeholder="Password" id="password"/>
            <i class="fa fa-lock"></i>
        </div>
        <p>You don't have an account? <a class="a-link" routerLink="/register">Register here</a></p>
        <button>Login</button>
    </div>
</div>
