<div class="appointments-container">
    <div class="appointments-title">
      <h1>{{ chargerLocation }}</h1>
    </div>
    <div class="button-area">
        <div>
            <button class="new-appointment-button" mat-raised-button color="primary" routerLink="../.."><mat-icon>keyboard_arrow_left</mat-icon>Back to chargers</button>
        </div>
        <div class="new-appointment-alignment">
            <button class="new-appointment-button" mat-raised-button color="primary" (click)="openDialog(undefined, viewState.Create)"><i class="fa fa-plus"></i> New appointment</button>
        </div>
    </div>
    
    <table mat-table [dataSource]="appointments!">
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start date </th>
        <td mat-cell *matCellDef="let appointment"> {{appointment.startDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End date </th>
        <td mat-cell *matCellDef="let appointment"> {{appointment.endDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef> Available </th>
        <td mat-cell *matCellDef="let appointment"><mat-slide-toggle [checked]="appointment.isAvailable" color="primary"></mat-slide-toggle></td>
      </ng-container>

      <!-- <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef> Blocked </th>
        <td mat-cell *matCellDef="let user"><mat-slide-toggle [checked]="user.isBlocked" color="primary" (click)="changeBlockStatus(user.id, user.isBlocked)"></mat-slide-toggle></td>
      </ng-container> -->
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let appointment">
          <!-- <mat-icon color="primary" (click)="openDialog(appointment.id, viewState.Edit)">edit</mat-icon> -->
          <mat-icon color="primary" (click)="deleteAppointment(appointment.id)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-container *ngIf="!appointments || appointments.length == 0">
      <mat-icon color="primary" class="lock-icon-adjustments">lock</mat-icon><span class="no-content">No content</span>
    </ng-container>

  </div>